section {
  display: flex;
  background-color: #d1c1c1;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

section .weather {
  border: 1px solid #2e2828;
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

section .weather img {
  width: 100px;
  height: 100px;
}
